.fetch-tweets-item {
	display: inline-block; 
	margin-bottom: 0.5em;	
	width: 100%;
}
.fetch-tweets-retweet {
}
.fetch-tweets-heading {
text-align: right;
width: auto;
	line-height: 1em;
}
.fetch-tweets-profile-image {
	float: left;
	clear: left;
	margin: 0 8px 0 0;
}
.fetch-tweets-user-name {
float: left;
	display: inline-block; 
	vertical-align: top;
}
.fetch-tweets-user-name a {
	text-decoration: none;
}
.fetch-tweets-tweet-created-at {

	float: right; 

	font-size: smaller; 
	
}
.fetch-tweets-tweet-created-at a {
	text-decoration: none;
}
.fetch-tweets-body {
	clear: right;
}
.fetch-tweets-text {

	margin-bottom: 0;
}
.fetch-tweets-retweet-credit {
	float: right;
	font-size: smaller;
}
.fetch-tweets-retweet-credit a {
	text-decoration: none;
}